<!-- Copyright (c) 2025 Half_nothing -->
<!-- SPDX-License-Identifier: MIT -->

<p>尊敬的{{.Cid}}: </p>
<p>您好, </p>
<br/>
<p>您的工单"{{.Title}}"已被回复</p>
<p>回复内容如下: <p>
<p>{{.Reply}}</p>
<br/>
<p>以上, </p>
<p>技术支持部</p>